@import "./branding";

// Reset native HTML properties
// (which should be done at the start of the app)
h4,
p {
  margin: 0;
}

$elc-font-path: "../fonts/";

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url(#{$elc-font-path}helveticaneueltstd-md.eot) format('eot'),
       url(#{$elc-font-path}helveticaneueltstd-md.svg) format('svg'),
       url(#{$elc-font-path}helveticaneueltstd-md.ttf) format('truetype'),
       url(#{$elc-font-path}helveticaneueltstd-md.woff) format('woff')
}

@font-face {
  font-family: 'Helvetica Neue LT Blk';
  src: url(#{$elc-font-path}helveticaneueltstd-blk.svg) format('svg'),
       url(#{$elc-font-path}helveticaneueltstd-blk.ttf) format('truetype'),
       url(#{$elc-font-path}helveticaneueltstd-blk.woff) format('woff')
}

@font-face {
  font-family: 'Helvetica Neue LT Italic';
  src: url(#{$elc-font-path}helveticaneueltstd-it.eot) format('eot'),
       url(#{$elc-font-path}helveticaneueltstd-it.svg) format('svg'),
       url(#{$elc-font-path}helveticaneueltstd-it.ttf) format('truetype'),
       url(#{$elc-font-path}helveticaneueltstd-it.woff) format('woff')
}

@font-face {
  font-family: 'Helvetica Neue LT Std Lt';
  src: url(#{$elc-font-path}helveticaneueltstd-lt.eot) format('eot'),
       url(#{$elc-font-path}helveticaneueltstd-lt.svg) format('svg'),
       url(#{$elc-font-path}helveticaneueltstd-lt.ttf) format('truetype'),
       url(#{$elc-font-path}helveticaneueltstd-lt.woff) format('woff')
}

body {
  margin: 0;
  font-family: $elc-font-light;
}

.mainContainer {
  margin: 0px auto;
  position: relative;
  width: 100%;

  // If the navigation is positioned absolutely,
  // we need to add padding to the container to
  // avoid overlapping.
  padding-top: 72px;
  @include lg-bp {
    padding-top: 136px;
  }
}

// Global branded rules
// these should come from a global site-wide stylesheet.
.link {
  color: $black;
  font-family: $elc-font-standard;
}

.button {
  background: $deep-black;
  padding: 21px;
  text-align: center;
  font-family: $elc-font-standard;
  color: white;
  border: none;

  @include lg-bp {
    padding: 24px;
  }
}
